<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuli.data.mapper.ElTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liuli.data.entity.ElTable">
        <id column="id" property="id" />
        <result column="application_name" property="applicationName" />
        <result column="chain_name" property="chainName" />
        <result column="el_data" property="elData" />
        <result column="route" property="route" />
        <result column="namespace" property="namespace" />
        <result column="enable" property="enable" />
    </resultMap>

</mapper>
